replicaCount: 1
image:
  repository: ghcr.io/lexfrei/me-site
  tag: latest
  pullPolicy: Always
resources:
  requests:
    cpu: 100m
    memory: 20Mi
  limits:
    cpu: 100m
    memory: 50Mi
containerPort: 8080
servicePort: 8080
onionService:
  enabled: true
  backends: 1
  privateKeySecretName: me-site-onion-secret
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      namespace: gateway-system
  hostnames:
    - example.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
vpa:
  enabled: true

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

networkPolicy:
  enabled: false
  ingress: []
  egress: []
