kind: Deployment
apiVersion: apps/v1
metadata:
  name: me-site
  labels:
    app: me-site
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: me-site
  template:
    metadata:
      labels:
        app: me-site
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: me-site
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "Always" ((.Values.image).pullPolicy) }}
          resources:
            requests:
              cpu: {{ default "100m" ((.Values.resources).requests).cpu }}
              memory: {{ default "50Mi" ((.Values.resources).requests).memory }}
            limits:
              cpu: {{ default "100m" ((.Values.resources).limits).cpu }}
              memory: {{ default "50Mi" ((.Values.resources).limits).memory }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: web
              containerPort: {{ .Values.containerPort }}
