{{- if .Values.enableDiscovery }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "extractedprism.fullname" . }}
  labels:
    {{- include "extractedprism.labels" . | nindent 4 }}
rules:
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - get
  - list
  - watch
{{- end }}
